
<!------ Include the above in your HEAD tag ---------->

<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->
    <div class="fadeIn first">
      <fa-icon [icon]="faUserCircle" size="6x" style="color:#6acdff"></fa-icon>
    </div>

    <!-- Login Form -->
    <form>
      <input type="text" id="usuario" class="fadeIn second" name="Usuario" placeholder="Usuario">
      <input type="text" id="contraseña" class="fadeIn third" name="Contraseña" placeholder="Contraseña">
      <input type="submit" class="fadeIn fourth" value="Iniciar Sesion">
    </form>

    <!-- Remind Passowrd -->
    <div id="formFooter">
      <a class="underlineHover" href="#">Olvido la contraseña?</a>
    </div>

  </div>
</div>